
<%if user_of_session %>
	<h2>Welcome <%= user_of_session.user_name %></h2>
<%end%>


<div id="sign_out">
	<form method="POST" action="/sign_out">
		<button name= "sign_out"value="nil">Sign out</button>
	</form>
</div><!--end of sign out-->


<div id="sign_in">
<fieldset>
	<legend>Sign in</legend>
		<h2>Sign in</h2>
		<form action="/" method="POST">
				Username:<input type="text" 		name="username"><br>
				Password:<input type="password" name="password"> <br>
				<input type="submit" name="Submit" value="Sign in">
		</form>
</fieldset>
</div><!--end of sign in-->

<a href="/sign_up">Sign up</a>

<div id=flash_notice>
	<%if flash[:notice] %>
		<%= flash[:notice]%>
	<%end%>
</div><!--end of flash notice-->

<div id="post_it">
	<form action="/post_it" method="POST">
		<input type="text" name="post">
		<input type="submit" name="Post" value="Post">
	</form>
</div><!--post it-->


<div id="post">
	<% @posts.reverse.each do |post| %>
	<article><%=post.text%>,
		<spam class="user_post">
			<a href="/user_info/<%=post.user.user_name%>"><%=post.user.user_name%>
			</a>
		</spam>
	</article>
	<%end%>
</div><!--end of post-->



 